.amplify-nav-bar {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,ef017c+100;Pink+3D+%231 */
    background: #ff5db1;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ff5db1 0%, #ef017c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff5db1 0%, #ef017c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff5db1 0%, #ef017c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1);
    /* IE6-9 */
    font-weight: 700;
    color: #FFF;
    z-index: 999;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-to-users {
    width: 100%;
    max-width: 900px;
    margin: 50px 0 100px 0;
}