:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-brand > img {
  width: 32px;
}

.navbar-brand > strong {
  font-family: 'OrangeJuice', 'Quicksand', sans-serif;
  font-size: 32px;
  color: white;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
  background-color: #FFF !important;
}

a:focus, button:focus, input:focus, textarea:focus {
  outline: none;
}

.bg-colored {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,ef017c+100;Pink+3D+%231 */
background: #ff5db1; /* Old browsers */
background: -moz-linear-gradient(left, #ff5db1 0%, #ef017c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ff5db1 0%,#ef017c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #ff5db1 0%,#ef017c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=1 ); /* IE6-9 */
}